@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
  font-family: 'Roboto Mono', monospace;
}

span {
  background-color: tomato;
  opacity: 0.9;
}

.title {
  text-align: center;
}

.body-text {
  margin: 50px 150px;
}

.backlink {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 10%;
  text-align: center;
}

.resources {
  padding: 5px 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  width: 50%;
  margin: auto;
}

.press-release {
  margin: 50px 200px;
}

.very-important {
  color: limegreen;
}

li {
  margin: 15px 0px;
}

a {
  color: tomato;
}

a:hover {
  color: yellow;
}

